<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taisheng.now">

    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 这个权限用于进行网络定位 -->
    <!-- 这个权限用于访问GPS定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />


    <!--腾讯云视频-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!--微信支付权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--小米推送相关^开始-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission
        android:name="com.taisheng.now.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.taisheng.now.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <!--小米推送相关^结束-->


    <!--百度地图-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:name="com.taisheng.now.SampleApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Zk2Bjz21kg9zykDGWl4BY69Lp03KZvuZ"></meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">

            <intent-filter>

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">

            <intent-filter>

                <action android:name="com.xiaomi.push.PING_TIMER" />

            </intent-filter>

        </receiver>
        <receiver
            android:name="com.taisheng.now.push.XMMessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name="com.taisheng.now.bussiness.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Appwelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.taisheng.now.test.TestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxa371cf7bae0024bf" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.user.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustResize">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.market.dingdan.DindanxiangqingDaifukuanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.market.dingdan.DindanxiangqingDaifahuoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.market.dingdan.DindanxiangqingDaishouhuoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.market.dingdan.DindanxiangqingYiwanchengActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.market.gouwuche.GouwucheActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.market.gouwuche.ShoppingCartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.market.youhuijuan.MyYouhuijuanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.BindWatchsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.WatchsListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.market.dingdan.DingdanjiesuanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.market.dizhi.DizhiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name="com.taisheng.now.bussiness.market.dizhi.DizhiBianjiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.taisheng.now.bussiness.me.MyKajuanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.market.ZhifuchenggongActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.doctor.DoctorsFenleiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.me.MyDingdanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.market.ShangPinxiangqingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.watchme.WatchNaoZhongXinzengActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.BindMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.watchfirst.WatchFirstGuijiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.watch.watchfirst.WatchFirstAnQuanWeiLanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.MainActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.WatchMainActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat">

        </activity>

        <activity
            android:name="com.taisheng.now.bussiness.watch.watchme.UpdateNickActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>


        <activity
            android:name="com.taisheng.now.bussiness.first.MoreShipinActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity android:name="com.taisheng.now.chat.C2CActivity">

        </activity>

        <activity
            android:name=".bussiness.me.MyPingjiaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name=".bussiness.me.TousuzhongxinActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.watch.watchme.WatchMeNaozhongListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name=".bussiness.watch.watchme.WatchMeXinlvyujingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.watch.watchme.WatchMeXinlvyujingbianjiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name=".bussiness.watch.watchme.WatchMeXueyajingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name=".bussiness.watch.watchme.WatchMeXueyajingBianjiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name=".bussiness.watch.watchme.WatchMeKaiGuanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name=".bussiness.watch.watchme.WatchMeMiandaraoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.watch.watchme.WatchMianDaraoSettingliActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.watch.watchme.WatchMejinjilianxirenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name=".bussiness.me.YijianfankuiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.RecommendShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.FuwuxieyiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.YisixieyiActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.me.MeMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name=".bussiness.watch.watchme.WatchMeMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.UpdateNickActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.UpdateZhanghaoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.BindPhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.UpdatePasswordFirstActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.UpdatePasswordLastActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.healthfiles.HealthFileFirstActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.healthfiles.HealthCheckActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">


        </activity>
        <activity
            android:name=".bussiness.healthfiles.HealthCheckHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.healthfiles.HealthQuestionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.doctor.DoctorDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.me.FillInMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.me.FillInMessageSecondActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <activity
            android:name="com.taisheng.now.shipin.TRTCMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="com.taisheng.now.bussiness.healthfiles.HealthFilesFillInMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>


        <activity
            android:name=".bussiness.healthfiles.HealthFileSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.healthfiles.HealthCheckResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.healthfiles.HealthCheckResultHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name=".bussiness.me.SelectAvatarSourceDialog"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".chat.ImageLookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />

        <activity
            android:name=".view.crop.CropImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.article.SecretSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.article.SearchResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.market.SearchResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name=".ZXing.ZXingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.market.FenleiMarketActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.article.ArticleContentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.doctor.DoctorCommentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name=".bussiness.doctor.DoctorCommentSuccessActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name=".bussiness.doctor.DoctorCollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".bussiness.me.QuqiandaoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name=".bussiness.article.ArticleCollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.me.ZixunjiluActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!--<activity-->
        <!--android:name="com.taisheng.now.selfshipin.ui.ChatRoomActivity"-->
        <!--android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"-->
        <!--android:launchMode="singleInstance"-->
        <!--android:screenOrientation="fullUser"-->
        <!--android:theme="@style/Webrtc.AppTheme.NoActionBar" />-->
        <!--<activity-->
        <!--android:name="com.taisheng.now.selfshipin.ui.ChatSingleActivity"-->
        <!--android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"-->
        <!--android:launchMode="singleInstance"-->
        <!--android:screenOrientation="fullUser"-->
        <!--android:theme="@style/Webrtc.AppTheme.NoActionBar" />-->


        <activity
            android:name="com.taisheng.now.bussiness.article.SecretActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"

            />

        <activity
            android:name="com.taisheng.now.bussiness.market.youhuijuan.MoreYouhuijuanActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.taisheng.now.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
