<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taisheng.now">

    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 这个权限用于进行网络定位 -->
    <!-- 这个权限用于访问GPS定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 腾讯云视频 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- &lt;!&ndash;微信支付权限&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->


    <!-- 小米推送相关^开始 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.taisheng.now.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.taisheng.now.permission.MIPUSH_RECEIVE" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <!-- 小米推送相关^结束 -->


    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Android O之后开启前台服务需要申请该权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android Q之后，后台定位需要申请该权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".application.SampleApplication"
        android:allowBackup="true"
        android:appComponentFactory="任意值"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">

        <!--
        android:appComponentFactory="."
        tools:replace="android:appComponentFactory"
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wKRuVIExGyjyMUs4ixQ8qgK5j2Mk3XWv" />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".push.XMMessageReceiver"
            android:exported="true">

            <!-- 这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名 -->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".bussiness.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.TestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxa371cf7bae0024bf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bussiness.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dingdan.DindanxiangqingDaifukuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dingdan.DindanxiangqingDaifahuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dingdan.DindanxiangqingDaishouhuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dingdan.DindanxiangqingYiwanchengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchChiYaoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.gouwuche.GouwucheActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.youhuijuan.MyYouhuijuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.BindWatchsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.WatchsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dingdan.DingdanjiesuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dizhi.DizhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.dizhi.DizhiBianjiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.MyKajuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.ZhifuchenggongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.doctor.DoctorsFenleiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.MyDingdanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.ShangPinxiangqingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchNaoZhongXinzengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeTongxunluActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.BindMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchfirst.HistoryGuijiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchfirst.WatchFirstAnQuanWeiLanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.WatchMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.UpdateNickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.UpdateRelationShipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMiandaoraoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchChiyaoXinzengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeTongxunluxinzengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeJinjilianxirenUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.first.MoreShipinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.C2CActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".bussiness.me.MyPingjiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.TousuzhongxinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeNaozhongListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeXinlvyujingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeXinlvyujingbianjiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeXueyajingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeXueyajingBianjiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeKaiGuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeMiandaraoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMianDaraoSettingliActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMejinjilianxirenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeJinjilianxirenXinzengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeYujingxinxiXiangqingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.YijianfankuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.RecommendShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.login.AgreementA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.YisixieyiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.MeMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchMeMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.UpdateNickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.UpdatePasswordFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.UpdatePasswordLastActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthFileFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthCheckHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.doctor.DoctorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.FillInMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.FillInMessageSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shipin.TRTCMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".bussiness.healthfiles.HealthFilesFillInMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthFileSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthCheckResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.healthfiles.HealthCheckResultHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.SelectAvatarSourceDialog"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".bussiness.watch.watchchat.WeChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.ImageLookActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <activity
            android:name=".view.crop.CropImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.article.SecretSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.article.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZXing.ZXingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.FenleiMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.article.ArticleContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.doctor.DoctorCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.doctor.DoctorCommentSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.doctor.DoctorCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.QuqiandaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.article.ArticleCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.me.ZixunjiluActivity"
            android:screenOrientation="portrait" />

        <!-- <activity -->
        <!-- android:name="com.taisheng.now.selfshipin.ui.ChatRoomActivity" -->
        <!-- android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:screenOrientation="fullUser" -->
        <!-- android:theme="@style/Webrtc.AppTheme.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name="com.taisheng.now.selfshipin.ui.ChatSingleActivity" -->
        <!-- android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:screenOrientation="fullUser" -->
        <!-- android:theme="@style/Webrtc.AppTheme.NoActionBar" /> -->

        <activity
            android:name=".bussiness.article.SecretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.market.youhuijuan.MoreYouhuijuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchSosSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bussiness.watch.watchme.WatchSosUpdataActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.taisheng.now.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>